@import "bootstrap";
/*
 *= require_tree .
 *= require_self
*/

/* CSS HELPERS */
.bg-light-gray{ background-color: #eeeeee;}
.text-center{ text-align: center; }
.mt-1{margin-top: 1rem !important;}
.mt-2{margin-top: 2rem !important;}
.mt-5{margin-top: 5rem !important;}